@import "../../styles/mixins/displayMixins";
@import "../../styles/mixins/fontMixins";

.search_bar {
  padding: 16px 12px;
  border-radius: 10px;
  background: $white;
  @include FlexMaxWidthAlignCenter;
  margin-bottom: 20px;

  .search_bar__input {
    width: 100%;
    border: none;
    margin-left: 8px;
    @include SearchPlaceholderMobile;
  }

  .search_bar__input:focus {
    outline: none;
  }

  .search_bar__button {
    display: none;
  }
}

@media screen and (min-width: 880px) {
  .search_bar {
    width: 725px;
    padding: 5px 5px 5px 15px;

    .search_bar__input {
      @include SearchPlaceholderDesktop;
    }

    .search_bar__button {
      display: block;
      @include SearchButton;
      @include SearchButtonText;

      color: $white;
      cursor: pointer;
    }
  }
}
