.search_bar {
  padding: 16px 12px;
  border-radius: 10px;
  background: $white;
  width: 100%;

  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .search_bar__input {
    width: 100%;
    border: none;
    margin-left: 8px;
    font-family: "Inter Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: -0.2px;
    color: $black;
    mix-blend-mode: normal;
    opacity: 0.4;
  }

  .search_bar__input:focus {
    outline: none;
  }

  .search_bar__button {
    display: none;
  }
}

@media screen and (min-width: 880px) {
  .search_bar {
    width: 725px;
    padding: 5px 5px 5px 15px;

    .search_bar__button {
      display: block;
      background: $red;
      border-radius: 6px;
      padding: 10px 16px;
      border: none;

      font-family: "Inter Bold";
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;

      color: $white;
    }
  }
}
