$white: #ffffff;
$black: #000000;
$red: #bb1e1e;
$blue: #1e71bb;
$gray: #979797;
$white-secondary: #f8f5f2;
$dark-gray: #1d1d1b;
$light-gray: #8d8d8c;
$light-gray-secondary: #c8cad1;
$white-background: #f4f5f8;
$light-red: rgba(187, 30, 30, 0.1);
$linear-red: linear-gradient(180deg, #bb1e1e 71.29%, #b21919 99.95%);
