.wrapper__mobile {
  background: $white-background;
  padding: 24px 16px;

  .button_wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 16px;

    .btn {
      font-family: "Inter Regular";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.0246154px;
    }
    .button_wrapper-red {
      padding: 10px 16px;
      background-color: $light-red;
      border-radius: 20px;
      color: $red;
      border: none;
    }

    .button_wrapper-regular {
      background: none;
      border: none;
      color: $dark-gray;
      padding: 0px 17px;
    }
  }
}

.wrapper__desktop {
  display: none;
}

@media screen and (min-width: 720px) {
  .wrapper__mobile {
    display: none;
  }

  .wrapper__desktop {
    display: block;
    padding: 35px 24px;
    background: $white-background;

    .wrapper__desktop-news {
      width: 100%;
      display: flex;
      justify-content: center;

      .news-title {
        font-family: "Inter SemiBold";
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.153px;
        color: $dark-gray;
        margin-bottom: 16px;
      }
    }

    .wrapper__desktop-categories {
      display: none;
    }
  }
}

@media screen and (min-width: 880px) {
  .wrapper__desktop {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapper__desktop-categories {
      display: block;
    }
  }
}
