.wrapper {
  width: 375px;
  background: $white-background;
  padding: 24px 16px;

  .button_wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 16px;

    .btn {
      font-family: "Inter Regular";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.0246154px;
    }
    .button_wrapper-red {
      padding: 10px 16px;
      background-color: $light-red;
      border-radius: 20px;
      color: $red;
      border: none;
    }

    .button_wrapper-regular {
      background: none;
      border: none;
      color: $dark-gray;
      padding: 0px 17px;
    }
  }
}
