@import "../../styles/mixins/fontMixins";

.latest-news-card {
  padding: 16px 0px;
  border-bottom: 1px solid $white-background;

  .latest-news-card__time {
    @include LatestNewsTimeStamp;
    margin-bottom: 3px;
  }

  .latest-news-card__title {
    @include LatestNewsTitle;
  }
}

.latest-news-card:first-child {
  padding-top: 0px;
}

.latest-news-card:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}
