@import "../../styles/mixins/displayMixins";
@import "../../styles/mixins/fontMixins";

.modal {
  @include ModalPosition;
  padding: 28px 16px;
  background-color: $white-background;

  .modal__exit-icon-wrapper {
    @include FlexMaxWidthEnd;
  }

  .modal__logo-wrapper {
    @include FlexMaxWidthCenter;

    .modal_wrapper__logo {
      @include LogoDesktop;

      .modal_wrapper__logo--red {
        color: $red;
      }
    }
  }

  .modal_logo {
    margin: 64px 0px;
  }
}

@media screen and (min-width: 880px) {
  .modal {
    display: none;
  }
}
