@import "../../../styles/mixins/fontMixins";

.categories {
  padding: 28px 14px;
  display: flex;
  flex-wrap: wrap;

  .categories__card {
    height: 95px;
    width: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    margin-left: 16px;
    text-decoration: none;

    .categories__card-title {
      @include CategoryMobile;
      margin-top: 5.63px;
    }

    .red-title {
      color: $red;
    }
  }

  .red-card {
    background: $white;
    box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
  }
}

@media screen and (min-width: 880px) {
  .categories {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-right: 25px;
    padding: 0;

    .categories__card {
      margin: 0px;
      height: 63px;
      width: 63px;

      .categories__card-title {
        @include CategoryDesktop;
        margin-top: 4px;
      }
    }
  }
}
