.news-card {
  box-shadow: 0px 1px 2px -1px #c8cad1;
  border-radius: 8px;
  margin-bottom: 16px;

  .news-card__image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 343px;
    height: 168px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .news-card__text-wrapper {
    padding: 15px 17px 19px;
    background-color: $white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .news-card__category {
      font-family: "Inter Regular";
      font-style: normal;
      font-weight: 700;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: -0.0153846px;
      text-transform: uppercase;
      color: $blue;
      margin-bottom: 2px;
    }

    .news-card__title {
      font-family: "Inter Regular";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.11px;
      color: $black;
      max-width: 281.02px;
    }
  }
}
