@import "../../styles/mixins/displayMixins";
@import "../../styles/mixins/fontMixins";

.news-card {
  box-shadow: 0px 1px 2px -1px $light-gray-secondary;
  border-radius: 8px;
  margin-bottom: 16px;
  max-width: 343px;

  .news-card__image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 343px;
    height: 168px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .news-card__text-wrapper {
    padding: 15px 17px 19px;
    background-color: $white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .news-card__content-wrapper {
      .news-card__category-wrapper {
        @include FlexSpaceBetween;

        .news-card__category {
          @include CategoryDisplayMobile;
          margin-bottom: 2px;
        }
      }

      .news-card__title {
        @include TitleText;
        max-width: 281.02px;
        cursor: pointer;

        @include TruncateText(2);
      }

      .news-card__title:link {
        text-decoration: none;
      }
    }

    .news-card__author {
      display: none;
    }
  }
}

@media screen and (min-width: 720px) {
  .news-card {
    max-width: 321px;
    margin-bottom: 0;

    .news-card__image {
      height: 140px;
      width: 321px;
    }

    .news-card__text-wrapper {
      height: 112px;
      @include FlexColumnSpaceBetween;
      padding: 12px 12px 16px;

      .news-card__author {
        display: block;
        @include Author;
        text-decoration: none;
        max-width: 281.02px;

        @include TruncateText(1);
      }
    }
  }
}
