@import "../../../styles/mixins/fontMixins";
@import "../../../styles/mixins/displayMixins";

.nav {
  .nav_wrapper {
    @include FlexSpaceBetween;
    margin-bottom: 20px;

    .nav_wrapper__logo {
      @include LogoMobile;

      .nav_wrapper__logo--red {
        color: $red;
      }
    }
  }
}

@media screen and (min-width: 880px) {
  .nav {
    display: flex;

    .nav_wrapper {
      .nav_wrapper__logo {
        @include LogoDesktop;
        margin-right: 43px;
      }

      .nav_wrapper__hamburger {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    width: 1095px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);
    margin-bottom: 24px;
  }
}
