.nav {

  .nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .nav_wrapper__logo {
      font-family: "Inter Black";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 29px;
      color: $dark-gray;

      .nav_wrapper__logo--red {
        color: $red;
      }
    }
  }
}
