@import "../../../styles/mixins/displayMixins";

.news {
  @include FlexColumnCenter;

  .news__wrapper {
    text-decoration: none;
  }

  .latest-news-element {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .news {
    @include DesktopGrid(2);

    .latest-news-element {
      display: block;
      @include GridLatestNews(2);
    }
  }
}

@media screen and (min-width: 1200px) {
  .news {
    @include DesktopGrid(3);

    .latest-news-element {
      display: block;
      @include GridLatestNews(3);
    }
  }
}
