@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/fonts/Inter-Regular.woff2") format("woff2"), url("/src/assets/fonts/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/src/assets/fonts/Inter-Medium.woff2?v=3.19") format("woff2"), url("/src/assets/fonts/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter SemiBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/src/assets/fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"), url("/src/assets/fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/src/assets/fonts/Inter-Bold.woff2?v=3.19") format("woff2"), url("/src/assets/fonts/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter Black";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/src/assets/fonts/Inter-Black.woff2?v=3.19") format("woff2"), url("/src/assets/fonts/Inter-Black.woff?v=3.19") format("woff");
}
.wrapper {
  width: 375px;
  background: #f4f5f8;
  padding: 24px 16px;
}
.wrapper .button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}
.wrapper .button_wrapper .btn {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.0246154px;
}
.wrapper .button_wrapper .button_wrapper-red {
  padding: 10px 16px;
  background-color: rgba(187, 30, 30, 0.1);
  border-radius: 20px;
  color: #bb1e1e;
  border: none;
}
.wrapper .button_wrapper .button_wrapper-regular {
  background: none;
  border: none;
  color: #1d1d1b;
  padding: 0px 17px;
}

.categories {
  padding: 28px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.categories .categories__card {
  height: 95px;
  width: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  text-decoration: none;
}
.categories .categories__card .categories__card-icon {
  color: #8d8d8c;
}
.categories .categories__card .categories__card-title {
  font-family: "Inter V";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.140741px;
  color: #8d8d8c;
  mix-blend-mode: normal;
  margin-top: 5.63px;
}

.nav .nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.nav .nav_wrapper .nav_wrapper__logo {
  font-family: "Inter Black";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #1d1d1b;
}
.nav .nav_wrapper .nav_wrapper__logo .nav_wrapper__logo--red {
  color: #bb1e1e;
}

.search_bar {
  padding: 16px 12px;
  border-radius: 10px;
  background: #ffffff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.search_bar .search_bar__input {
  width: 100%;
  border: none;
  margin-left: 8px;
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.search_bar .search_bar__input:focus {
  outline: none;
}

.modal {
  width: 375px;
  height: 100vh;
  background-color: #f4f5f8;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 28px 16px;
}
.modal .modal__exit-icon-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.modal .modal__logo-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal .modal__logo-wrapper .modal_wrapper__logo {
  font-family: "Inter Black";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #1d1d1b;
}
.modal .modal__logo-wrapper .modal_wrapper__logo .modal_wrapper__logo--red {
  color: #bb1e1e;
}
.modal .modal_logo {
  margin: 64px 0px;
}

.news-card {
  -webkit-box-shadow: 0px 1px 2px -1px #c8cad1;
          box-shadow: 0px 1px 2px -1px #c8cad1;
  border-radius: 8px;
  margin-bottom: 16px;
}
.news-card .news-card__image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 343px;
  height: 168px;
  background: url("../../assets/images/PlaceholderImage.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.news-card .news-card__text-wrapper {
  padding: 15px 17px 19px;
  background-color: #ffffff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.news-card .news-card__text-wrapper .news-card__category {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.0153846px;
  text-transform: uppercase;
  color: #1e71bb;
  margin-bottom: 2px;
}
.news-card .news-card__text-wrapper .news-card__title {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.11px;
  color: #000000;
  max-width: 281.02px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}