@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/fonts/Inter-Regular.woff2") format("woff2"), url("/src/assets/fonts/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/src/assets/fonts/Inter-Medium.woff2?v=3.19") format("woff2"), url("/src/assets/fonts/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter SemiBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/src/assets/fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"), url("/src/assets/fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/src/assets/fonts/Inter-Bold.woff2?v=3.19") format("woff2"), url("/src/assets/fonts/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter Black";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/src/assets/fonts/Inter-Black.woff2?v=3.19") format("woff2"), url("/src/assets/fonts/Inter-Black.woff?v=3.19") format("woff");
}
.wrapper__mobile {
  background: #f4f5f8;
  padding: 24px 16px;
}
.wrapper__mobile .button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}
.wrapper__mobile .button_wrapper .btn {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.0246154px;
}
.wrapper__mobile .button_wrapper .button_wrapper-red {
  padding: 10px 16px;
  background-color: rgba(187, 30, 30, 0.1);
  border-radius: 20px;
  color: #bb1e1e;
  border: none;
}
.wrapper__mobile .button_wrapper .button_wrapper-regular {
  background: none;
  border: none;
  color: #1d1d1b;
  padding: 0px 17px;
}

.wrapper__desktop {
  display: none;
}

@media screen and (min-width: 720px) {
  .wrapper__mobile {
    display: none;
  }
  .wrapper__desktop {
    display: block;
    padding: 35px 24px;
    background: #f4f5f8;
  }
  .wrapper__desktop .wrapper__desktop-news {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper__desktop .wrapper__desktop-news .news-title {
    font-family: "Inter SemiBold";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.153px;
    color: #1d1d1b;
    margin-bottom: 16px;
  }
  .wrapper__desktop .wrapper__desktop-categories {
    display: none;
  }
}
@media screen and (min-width: 880px) {
  .wrapper__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper__desktop .wrapper__desktop-categories {
    display: block;
  }
}
.categories {
  padding: 28px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.categories .categories__card {
  height: 95px;
  width: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  text-decoration: none;
}
.categories .categories__card .categories__card-title {
  font-family: "Inter V";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.140741px;
  color: #8d8d8c;
  mix-blend-mode: normal;
  margin-top: 5.63px;
}
.categories .categories__card .red-title {
  color: #bb1e1e;
}
.categories .categories__card:last-child:nth-child(3n-1) {
  margin-right: auto;
  margin-left: 16px;
}
.categories .red-card {
  background: #ffffff;
  -webkit-box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

@media screen and (min-width: 880px) {
  .categories {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 25px;
    padding: 0;
  }
  .categories .categories__card {
    margin-bottom: 0px;
  }
  .categories .categories__card:last-child:nth-child(3n-1) {
    margin: 0px;
  }
}
.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news .latest-news-element {
  display: none;
}

@media screen and (min-width: 720px) {
  .news {
    display: grid;
    grid-template-columns: repeat(2, 322px);
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    grid-gap: 22px;
  }
  .news .latest-news-element {
    display: block;
  }
  .news__wrapper:first-child {
    grid-row: 1/span 2;
    grid-column: 2;
  }
}
@media screen and (min-width: 1200px) {
  .news {
    display: grid;
    grid-template-columns: repeat(3, 322px);
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    grid-gap: 22px;
  }
  .news .latest-news-element {
    display: block;
  }
  .news__wrapper:first-child {
    grid-row: 1/span 2;
    grid-column: 3;
  }
}
.nav .nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.nav .nav_wrapper .nav_wrapper__logo {
  font-family: "Inter Black";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #1d1d1b;
}
.nav .nav_wrapper .nav_wrapper__logo .nav_wrapper__logo--red {
  color: #bb1e1e;
}

@media screen and (min-width: 880px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .nav_wrapper .nav_wrapper__logo {
    margin-right: 43px;
  }
  .nav .nav_wrapper .nav_wrapper__hamburger {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    width: 1095px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);
    margin-bottom: 24px;
  }
}
.latest-news__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.latest-news__wrapper .latest-news {
  padding: 18px 16px 0px;
  -webkit-box-shadow: 0px 1px 2px -1px #c8cad1;
          box-shadow: 0px 1px 2px -1px #c8cad1;
  border-radius: 8px;
  background-color: #ffffff;
  width: 343px;
}
.latest-news__wrapper .latest-news .latest-news__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  background: #ffffff;
}
.latest-news__wrapper .latest-news .latest-news__header .latest-news__header-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bb1e1e;
  margin: 0px 20px 0px 10px;
  -webkit-box-shadow: 0 0 0 0 rgb(187, 30, 30);
          box-shadow: 0 0 0 0 rgb(187, 30, 30);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}
.latest-news__wrapper .latest-news .latest-news__header .latest-news__header-title {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.11px;
}
.latest-news__wrapper .latest-news .latest-news__list {
  height: 429px;
  overflow-y: scroll;
}
.latest-news__wrapper .latest-news .latest-news__list::-webkit-scrollbar {
  width: 4px;
}
.latest-news__wrapper .latest-news .latest-news__list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.237981);
  border-radius: 2px;
  visibility: hidden;
}
.latest-news__wrapper .latest-news .latest-news__list:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.latest-news__wrapper .latest-news .latest-news__list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.latest-news__wrapper .latest-news .latest-news__footer {
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.latest-news__wrapper .latest-news .latest-news__footer .latest-news__footer-text {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.09625px;
  color: #1e71bb;
  margin-right: 2px;
}

@media screen and (min-width: 720px) {
  .latest-news__wrapper {
    display: block;
  }
  .latest-news__wrapper .latest-news {
    width: 321px;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(187, 30, 30, 0.7);
            box-shadow: 0 0 0 0 rgba(187, 30, 30, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(187, 30, 30, 0);
            box-shadow: 0 0 0 10px rgba(187, 30, 30, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(187, 30, 30, 0);
            box-shadow: 0 0 0 0 rgba(187, 30, 30, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(187, 30, 30, 0.7);
            box-shadow: 0 0 0 0 rgba(187, 30, 30, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(187, 30, 30, 0);
            box-shadow: 0 0 0 10px rgba(187, 30, 30, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(187, 30, 30, 0);
            box-shadow: 0 0 0 0 rgba(187, 30, 30, 0);
  }
}
.search_bar {
  padding: 16px 12px;
  border-radius: 10px;
  background: #ffffff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.search_bar .search_bar__input {
  width: 100%;
  border: none;
  margin-left: 8px;
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.search_bar .search_bar__input:focus {
  outline: none;
}
.search_bar .search_bar__button {
  display: none;
}

@media screen and (min-width: 880px) {
  .search_bar {
    width: 725px;
    padding: 5px 5px 5px 15px;
  }
  .search_bar .search_bar__button {
    display: block;
    background: #bb1e1e;
    border-radius: 6px;
    padding: 10px 16px;
    border: none;
    font-family: "Inter Bold";
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.modal {
  height: 100vh;
  background-color: #f4f5f8;
  position: fixed;
  top: 0;
  padding: 28px 16px;
}
.modal .modal__exit-icon-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.modal .modal__logo-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal .modal__logo-wrapper .modal_wrapper__logo {
  font-family: "Inter Black";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #1d1d1b;
}
.modal .modal__logo-wrapper .modal_wrapper__logo .modal_wrapper__logo--red {
  color: #bb1e1e;
}
.modal .modal_logo {
  margin: 64px 0px;
}

@media screen and (min-width: 880px) {
  .modal {
    display: none;
  }
}
.news-card {
  -webkit-box-shadow: 0px 1px 2px -1px #c8cad1;
          box-shadow: 0px 1px 2px -1px #c8cad1;
  border-radius: 8px;
  margin-bottom: 16px;
  max-width: 343px;
}
.news-card .news-card__image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 343px;
  height: 168px;
  background-repeat: no-repeat;
  background-size: cover;
}
.news-card .news-card__text-wrapper {
  padding: 15px 17px 19px;
  background-color: #ffffff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.news-card .news-card__text-wrapper .news-card__category {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.0153846px;
  text-transform: uppercase;
  color: #1e71bb;
  margin-bottom: 2px;
}
.news-card .news-card__text-wrapper .news-card__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.news-card .news-card__text-wrapper .news-card__title {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.11px;
  color: #000000;
  max-width: 281.02px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-card .news-card__text-wrapper .news-card__author {
  display: none;
}

@media screen and (min-width: 720px) {
  .news-card {
    max-width: 321px;
    margin-bottom: 0;
  }
  .news-card .news-card__image {
    height: 140px;
    width: 321px;
  }
  .news-card .news-card__text-wrapper {
    height: 112px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12px 12px 16px;
  }
  .news-card .news-card__text-wrapper .news-card__author {
    display: block;
    font-family: "Inter Regular";
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.0675px;
    color: #1d1d1b;
    justify-self: flex-end;
  }
}
.latest-news-card {
  padding: 16px 0px;
  border-bottom: 1px solid #f4f5f8;
}
.latest-news-card .latest-news-card__time {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.0153846px;
  text-transform: uppercase;
  margin-bottom: 3px;
  color: #1e71bb;
}
.latest-news-card .latest-news-card__title {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.11px;
  color: #000000;
}

.latest-news-card:first-child {
  padding-top: 0px;
}

.latest-news-card:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

.breaking_news {
  width: 343px;
  height: 260px;
  background-color: #1d1d1b;
  -webkit-box-shadow: 0px 1px 2px -1px #c8cad1;
          box-shadow: 0px 1px 2px -1px #c8cad1;
  border-radius: 8px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.breaking_news .breaking_news--category {
  font-family: "Inter Black";
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.0153846px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0px 10px 1px;
  border-radius: 1px;
  background: #bb1e1e;
  margin-bottom: 4px;
}
.breaking_news .breaking_news--title {
  font-family: "Inter Black";
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.19px;
  color: #ffffff;
  margin-bottom: 8px;
}
.breaking_news .breaking_news--author {
  font-family: "Inter Regular";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.0675px;
  color: #f8f5f2;
}

@media screen and (min-width: 720px) {
  .breaking_news {
    width: 321px;
    height: 252px;
    margin-bottom: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}